.hero {
  padding: 48px 94px;
  background-color: var(--background-color-1);
  display: flex;
  justify-content: space-between;
  gap: 199px;
}
.hero .hero-content {
  align-self: center;
}
.hero .hero-content p:first-child {
  color: #eab308;
  font-size: 14px;
}
.hero .hero-content p {
  color: #6b7280;
  font-size: 14px;
  line-height: 1.7;
}
.hero .hero-content .hero-tile {
  color: #fff;
}
.hero-btn {
  padding: 8px 20px;
  background-color: #eab308;
  color: #000;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.5 color;
}
.hero-btn:hover {
  color: #fff;
}
.hero-image img {
  border-radius: 12px;
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    gap: 70px;
    justify-content: center;
  }
  .hero-image {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    padding: 32px 48px;
  }
  .hero-image img {
    width: 250px;
  }
}
